<h1 align="center">Conectarse </h1>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f|%>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :Email %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class:"form-control", placeholder:"Ingrese un correo", autofocus: true%>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :Password%>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class:"form-control", autocomplete: "off"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Ingresar", class:'btn btn-primary btn-lg'%>
    </div>
  </div>
<% end %>
<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to "Cancelar y Regreso a los articulos", articles_path%>	]
</div>
