<% obj.each do |article|%>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%= link_to article.title, article_path(article) %>
      </div>
      <div class="article-body">
        <%= truncate(article.description, length: 100) %>
        <div class="article-meta-details">
          <small>Creado: <%= article.user.username if article.user %></small>
        </div>

      </div>
      <% if article.categories.any? %>
        <p> Categorias: <%= render article.categories %></p>
      <% end %>
      <% if logged_in? && (current_user == article.user || current_user.admin?)%>
          <div class="article-actions">
          <%= link_to "Editar el articulo", edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Borrar este articulo", article_path(article), method: :delete,
                            data: {confirm: "Esta seguro de borrar el articulo"},
                            class: "btn btn-xs btn-danger"%>
          </div>
        <% end %>
    </div>
  </div>
</div>
<% end %>
