<h2 align="center">titulo <%= @article.title%></h2>

  <div class="well col-xs-8 col-xs-offset-2">
    <% if @article.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4 col-md-offset-4">
          <li>Creado poror:</li>
          <li> <%= link_to gravatar_for(@article.user), user_path(@article.user)%></li>
          <li class="article-title">
            <%= link_to @article.user.username, user_path(@article.user)%>
          </li>
          <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
        </div>
      </div>
    </ul>
    <% end %>
  	<h4 class="center description"><strong>Descripcion:</strong></h4>
  		<hr><%= simple_format @article.description%>
      <% if @article.categories.any? %>
        <p>Categorias: <%= render @article.categories %> </p>
      <% end %>
  		<div class="article-actions">
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
        			<%= link_to "Editar el articulo", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
        			<%= link_to "Borrar este articulo", article_path(@article), method: :delete,
        												data: {confirm: "Esta seguro de borrar el articulo"},
        												class: "btn btn-xs btn-danger"%>
        <% end %>
        			<%= link_to "Regreso a los articulos", articles_path, class: "btn btn-xs btn-success" %>
  		</div>
  </div>
