<h1 align="center"> <%= "category:" + @category.name %></h1>
<div align="center">
  <% if logged_in? and current_user.admin? %>
    <div class="row">
      <span class="badge"><%= link_to "editar el nombre de la cateria", edit_category_path(@category) %></span>
    </div>
  <% end %>
  <%= will_paginate @category_articles %>
</div>

<%= render 'articles/article', obj: @category_articles%>

<div align="center">
  <%= will_paginate @category_articles %>
</div>
