<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://udemy.com">Curso Udemy</a>
		</small>
		<nav>
			<ul>
				<li> <%= link_to "About", about_path%></li>
			</ul>
		</nav>
	</footer>
</div>