<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Curso Udemy", root_path, class:"navbar-brand", id:"logo"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to"Articulos", articles_path %></li>
        <li><%= link_to "usuarios", users_path%></li>
        <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to"Articulo nuevo", new_article_path %></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to"Todas las categorias", categories_path %></li>
              <% Category.all.each do |category|%>
                <li><%= link_to "#{category.name}", category_path(category)%></li>
              <% end %>
              <% if logged_in? and current_user.admin?%>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Crear una nueva categoria", new_category_path %></li>
              <% end %>
            </ul>
         </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
              <li><%= link_to 'log out', logout_path, method: :delete %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil
                  <%= "admin" if current_user.admin? %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><<%= link_to "editar perfl", edit_user_path(current_user)%></li>
                  <li><%= link_to 'ver perfil', user_path(current_user)%></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
        <%else%>
              <li><%= link_to 'Link de log in', login_path%></li>
              <li><%= link_to 'registrarse', signup_path%></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
